# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.python-version
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
venv/
.env
temp/

# Node/Frontend
node_modules/
.svelte-kit/
package-lock.json
.DS_Store
/build
/.svelte-kit
/package
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Project specific
backend/data/
backend/logs/
*.log
backend/data/datasets/
backend/__pycache__/
backend/functions/__pycache__/
backend/functions/*.pyc
directions/prompts.md
directions/repos.md